body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pagina
{
    display: grid;
    width: auto;
    height: auto;
}

.titular
{
    justify-content: center;
    text-align: center;
    background-color: yellow;
}